
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* ---- typography ---- */

body {}

h1 {}

h2 {}

h3 {}




/* ---- layout ---- */



html, 
body {
  height: 100%;
  overflow: hidden;
}

#canvasElement {
  background-image: url("./img/background.jpg");
}


/* ---- components ---- */


